.DS_Store
data/__pycache__/query_result_data.cpython-312.pyc
data/__pycache__/user_data.cpython-312.pyc
service/__pycache__/database_service.cpython-312.pyc
service/__pycache__/singleton.cpython-312.pyc
service/__pycache__/user_service.cpython-312.pyc
view/order/__pycache__/image.cpython-312.pyc
view/user/__pycache__/auth_w_service.cpython-312.pyc
view/user/__pycache__/auth_window.cpython-312.pyc
view/user/__pycache__/order_list_w_service.cpython-312.pyc
view/user/__pycache__/order_list_window.cpython-312.pyc
view/user/__pycache__/user_info_w_service.cpython-312.pyc
view/user/__pycache__/user_info_window.cpython-312.pyc
.DS_Store
